{% extends "layout.html" %}
{% block content %}
<main>
  <h1 class="visually-hidden">Chi sarò domani?</h1>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Chi sarò domani?</h1>
    <hr/>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Ciao! Io sono Mollami, e voglio aiutarti a seguire i tuoi sogni per costruire un futuro felice e radioso.
        Ti piace l’arte? Sei un sognatore? Allora sei sicuramente nel posto giusto.
        Scegli chi sarai domani, non accontentare gli altri, dì MOLLAMI e scopri il percorso universitario più adatto a te.        
        </p>
    </div>
  </div>

  <div class="b-example-divider"></div>

</main>

<div class="d-flex gap-5 justify-content-center" style="margin-bottom: 5%; margin-left: 5%; margin-right: 5%;">

  <form action="/result", method="get">
    <br>
    {% for question in questions %}
      {% if question["is_first_in_category"] %}
        <p class="category-title">Blocco {{question["question_category"]}}</p>
      {% endif %}
      {% if question["is_first_in_group"] %}
        <div class="container text-center {{question['question_category']}}" style="max-width: 600px;">
          {{question["group_description"]}}
        </div>
      {% endif %}
      {% if question["question_type"] == "scale" %}
        <div class="container" style="margin-top: 20px;">
          <div class="row mb-3 text-center">
            <div class="col question">{{question["question_text"]}}</div>
          </div>

          <div class="row mb-3 text-center">
            {% for i in range(question["number_of_answers_possible"]) %}
              <div class="col themed-grid-col grid-questions {{question['question_category']}}">
                <input class="form-check-input flex-shrink-0" type="radio" name="{{question['id']}}" value="{{i}}">
                <div class="col"><small class="d-block text-muted questions-options">{{question[9+i]}}</small></div>
              </div>
            {% endfor %}
          </div>
        </div>
      {% elif question["question_type"] == "boolean" %}
        <div class="list-group mx-0 w-auto">
          <label class="question">{{question["question_text"]}}</label>
          <label class="list-group-item d-flex gap-2 {{question['question_category']}}">
            <input class="form-check-input flex-shrink-0" type="radio" name="{{question['id']}}" value="0">
            <span>
              {{ question["first_answer"] }}
            </span>
          </label>
          <label class="list-group-item d-flex gap-2 {{question['question_category']}}">
            <input class="form-check-input flex-shrink-0" type="radio" name="{{question['id']}}" value="1">
            <span>
              {{ question["second_answer"] }}
            </span>
          </label>
        </div>
      {% endif %}
      {% if question["is_last_in_group"] %}
        <hr/>
      {% endif %}
    {% endfor %}

    <p style="text-align: center;">Grazie per averci dedicato un po' del tuo tempo</p>

    <div style="text-align: center;">
      <button type="submit" class="btn btn-primary">Risultato</button>
    </div>
  </form>
</div>
{% endblock %}