{% extends "layout.html" %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://giffiles.alphacoders.com/967/96705.gif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Profilo artistico</h1>
        <p class="lead">If you’re creative and imaginative, a degree in art could be just what you’re looking for to express yourself. Art may not be a vocational subject – that is, one that leads to a specific career – but this doesn’t mean it won’t be a good preparation for the world of work.

            Whether you choose to specialize in fine art or the history of art, the skills you gain during your degree are likely to be highly valued and transferable to many sectors, including specialized art careers as well as many other graduate roles. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="questionnaire"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Torna al questionario</button></a>
        </div>
    </div>
</div>
{% endblock %}