<form action="/result", method="get">
  <fieldset id="group1">
    <label>Quanto tempo dedichi alla lettura?</label><br>
    <input type="radio" value="0" name="group1">Pochissimo
    <input type="radio" value="1" name="group1">Poco
    <input type="radio" value="2" name="group1">Tanto
    <input type="radio" value="3" name="group1">Tantissimo
  </fieldset>

  <fieldset id="group2">
    <label>Ti piace risolvere problemi?</label><br>
    <input type="radio" value="0" name="group2">Pochissimo
    <input type="radio" value="1" name="group2">Poco
    <input type="radio" value="2" name="group2">Tanto
    <input type="radio" value="3" name="group2">Tantissimo
  </fieldset>

  <input type="submit" value="Submit">
</form>