{% extends "layout.html" %}
{% block content %}
<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
        <img src="https://c.tenor.com/zdS-vPezGUgAAAAC/science-kind.gif" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Profilo scientifico</h1>
        <p class="lead">Science graduates are valued by employers and find rewarding careers across a wide range of industry and government sectors – explore the huge range of potential careers that a Bachelor of Science is the first step towards.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <a href="questionnaire"><button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Torna al questionario</button></a>
        </div>
    </div>
</div>
{% endblock %}